ENSFORGE_MAINNET_RPC_URL=
ENSFORGE_SEPOLIA_RPC_URL=

ENSFORGE_MAINNET_V1_SUBGRAPH_URL=
ENSFORGE_SEPOLIA_V1_INDEXER_URL=

ENSFORGE_SEPOLIA_V2_INDEXER_URL=

ENSFORGE_SEPOLIA_V2_NAME=
ENSFORGE_SEPOLIA_PRIVATE_KEY=